.div1{
    width: 600px;
    height: 500px;
    background-color: antiquewhite;
    position: relative;
    padding-left: 20px;
}
.btn1{
    width: 100px;
    height: 30px;
    background-color: orange;
   
    
}